
/* Header CSS */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
background-image: url("./assets/images/round.png");
background-size: 340px, auto;
min-height: calc(100vh - 100px);
margin: 50px;
background-attachment: fixed;
letter-spacing: -1px;
}

.header {
  color: #333;
  position: fixed;
  left: 0;
  right: 0;
  height: 40px;
  top: 0;
} 



